<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Analisis graficas - COARTMEX-PRO</title>

	<!-- Main Styles -->
	<link rel="stylesheet" href="assets/styles/style.css">

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" href="assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="assets/plugin/waves/waves.min.css">

	<!-- Sweet Alert -->
	<link rel="stylesheet" href="assets/plugin/sweet-alert/sweetalert.css">
	
	<!-- Percent Circle -->
	<link rel="stylesheet" href="assets/plugin/percircle/css/percircle.css">

	<!-- Morris Chart -->
	<link rel="stylesheet" href="assets/plugin/chart/morris/morris.css">

	<!-- Chartist Chart -->
	<link rel="stylesheet" href="assets/plugin/chart/chartist/chartist.min.css">

	<!-- Color Picker -->
	<link rel="stylesheet" href="assets/color-switcher/color-switcher.min.css">

	<!-- Select2 -->
	<link rel="stylesheet" href="assets/plugin/select2/css/select2.min.css">

	<!-- Toastr -->
	<link rel="stylesheet" href="assets/plugin/toastr/toastr.css">
</head>

<body>
<div class="main-menu">
	<header class="header">
		<a href="index.html" class="logo">COARTMEX-PRO</a>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
		<div class="user">
			<a href="#" class="avatar"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTomPrJLgLq4aZpXJJhxQ5HjtOgBguGXzsJw&s" alt=""><span class="status online"></span></a>
			<h5 class="name"><a id="usuario" href="#">Usuario</a></h5>
			<h5 class="position" id="departamento">Departamento</h5>
			<!-- /.name -->
		</div>
		<!-- /.user -->
	</header>
	<!-- /.header -->
	<div class="content">

		<div class="navigation">
			<h5 class="title">Navegación</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li>
					<a class="waves-effect" href="index.html"><i class="menu-icon fa fa-home"></i><span>Bienvenida</span></a>
				</li>
				<li class="current active">
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-dashboard"></i><span>Análisis de datos</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="analisis.html"><i class="fa fa-percent"></i> Dashboard</a></li>
						<li class="current"><a href="analisis_graficas.html"><i class="fa fa-bar-chart"></i> Gráficas</a></li>
						<li><a href="analisis_tablas.html"><i class="fa fa-table"></i> Tabla de datos</a></li>
						<li><a href="comparativas.html"><i class="fa fa-calendar-minus-o"></i> Comparar años</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-gear"></i><span>Manager PRO</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li>
							<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-calculator"></i><span>Contable y fiscal </span><span class="menu-arrow fa fa-angle-down"></span></a>
							<ul class="sub-menu js__content">
								<li><a href="fuentes.html"><i class="fa fa-file-excel-o"></i> Interfaz de reportes</a></li>
							</ul>
		
						</li>		
						<li>
							<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-laptop"></i><span>Sistemas </span><span class="menu-arrow fa fa-angle-down"></span></a>
							<ul class="sub-menu js__content">
								<li><a href="empleados.html"><i class="fa fa-suitcase"></i> Colaboradores</a></li>
								<li><a href="usuarios.html"><i class="fa fa-user"></i> Usuarios</a></li>
								<li><a href="proveedores.html"><i class="fa fa-truck"></i> Proveedores</a></li>
								<li><a href="socios_comerciales.html"><i class="fa fa-star"></i> Socios comerciales</a></li>
								<li><a href="articulos.html"><i class="fa fa-tag"></i> Articulos</a></li>
							</ul>
		
						</li>


					</ul>
				</li>
			</ul>
			
		</div>
		<!-- /.navigation -->
			
	</div>
	<!-- /.content -->
</div>
<!-- /.main-menu -->

<div class="fixed-navbar">
	<div class="pull-left">
		<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
		<h1 class="page-title">Análisis de gráficas</h1>
		<!-- /.page-title -->
	</div>
	<!-- /.pull-left -->
	<div class="pull-right">
		<a id="cerrarSesion" class="ico-item fa fa-power-off logout"></a>
	</div>
	<!-- /.pull-right -->
</div>
<!-- /.fixed-navbar -->


<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">

			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Filtro por meses</h4>
					<!-- /.box-title -->
					<div class="row">
						<div class="col-lg-12">
							<div class="row-inline-block">
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="01" type="checkbox" id="checkbox-1"><label for="checkbox-1">Ene</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="02" type="checkbox" id="checkbox-2"><label for="checkbox-2">Feb</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="03" type="checkbox" id="checkbox-3"><label for="checkbox-3">Mar</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="04" type="checkbox" id="checkbox-4"><label for="checkbox-4">Abr</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="05" type="checkbox" id="checkbox-5"><label for="checkbox-5">May</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="06" type="checkbox" id="checkbox-6"><label for="checkbox-6">Jun</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="07" type="checkbox" id="checkbox-7"><label for="checkbox-7">Jul</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="08" type="checkbox" id="checkbox-8"><label for="checkbox-8">Ago</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="09" type="checkbox" id="checkbox-9"><label for="checkbox-9">Sep</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="10" type="checkbox" id="checkbox-10"><label for="checkbox-10">Oct</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="11" type="checkbox" id="checkbox-11"><label for="checkbox-11">Nov</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="12" type="checkbox" id="checkbox-12"><label for="checkbox-12">Dic</label></div></div>
							</div>

							<div class="col-sm-offset-3 margin-top-2 margin-left-2" >
								<ul class="list-inline">
									<li>
										<select class="form-control" id="grupoSocio_menu"></select>
									</li>
									<li>
										<button class="btn btn-default btn-bordered btn-sm waves-effect waves-light" id="todos">Todos</button>
										
									</li>
									<li>
										<button class="btn btn-info btn-bordered btn-sm waves-effect waves-light" id="meses"><i class="fa fa-search"></i> Aplicar filtro</button>
										
									</li>
								</ul>
							</div>
							<!--  -->
						</div>
						<!-- /.col-lg-8 -->

					</div>
					<!-- /.row -->
				</div>
				<!-- /.box-content -->
			</div>

			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Grafica de barras - Cantidad ventas</h4>
					<!-- /.box-title -->
					
					<div id="bar-morris-chart" class="morris-chart" style="height: 320px"></div>
					
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-6 col-xs-12 -->

			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Grafica de dona - Porcentaje de ventas por mes</h4>
					<!-- /.box-title -->

					<!-- /.dropdown js__dropdown -->
					<div id="donut-morris-chart-month" class="morris-chart" style="height: 320px"></div>
					<!-- /#donut-morris-chart.morris-chart -->
				</div>
				<!-- /.box-content -->
			</div>

			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Grafica de dona - Porcentaje de ventas</h4>
					<!-- /.box-title -->
					
					<div id="donut-morris-chart" class="morris-chart" style="height: 320px"></div>
					<!-- /#donut-morris-chart.morris-chart -->
				</div>
				<!-- /.box-content -->
			</div>
			 
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Grafica de pilas - Ventas por año</h4>
					<!-- /.box-title -->

					<div id="stack-morris-chart" class="morris-chart" style="height: 320px"></div>
					<!-- /#stack-morris-chart.morris-chart -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-6 col-xs-12 -->


			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Grafica de area - Venta por pzas</h4>
					<!-- /.box-title -->
					<!-- /.dropdown js__dropdown -->
					<div id="area-morris-chart" class="morris-chart" style="height: 320px; position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
					</div>
					<!-- /#area-morris-chart.morris-chart -->
				</div>
				<!-- /.box-content -->
			</div>
						
		</div>
		<!-- /.row -->	
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script src="assets/JS/autenticar.js"></script>
    <script src="assets/JS/analisis_graficas.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- <script src="assets/scripts/jquery.min.js"></script> -->
	<script src="assets/scripts/modernizr.min.js"></script>
	<script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="assets/plugin/nprogress/nprogress.js"></script>
	<script src="assets/plugin/waves/waves.min.js"></script>

	<!-- Percent Circle -->
	<script src="assets/plugin/percircle/js/percircle.js"></script>

	<!-- chart.js Chart -->
	<script src="assets/plugin/chart/chartjs/Chart.bundle.min.js"></script>
	<script src="assets/scripts/chart.chartjs.init.min.js"></script>

	<!-- Google Chart -->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<!-- Chartist Chart -->
	<script src="assets/plugin/chart/chartist/chartist.min.js"></script>
	<script src="assets/scripts/chart.chartist.init.min.js"></script>
	
	<!-- Morris Chart -->
	<script src="assets/plugin/chart/morris/morris.min.js"></script>
	<script src="assets/plugin/chart/morris/raphael-min.js"></script>
	<!-- <script src="assets/scripts/chart.morris.init.js"></script> -->

	<!-- Jquery Knob -->
	<script src="assets/plugin/knob/jquery.knob.min.js"></script>
	<script src="assets/scripts/jquery.knob.init.min.js"></script>

	<!-- Sparkline Chart -->
	<script src="assets/plugin/chart/sparkline/jquery.sparkline.min.js"></script>
	<script src="assets/scripts/chart.sparkline.init.min.js"></script>

	<!-- Toastr -->
	<script src="assets/plugin/toastr/toastr.min.js"></script>

	<!-- Select2 -->
	<script src="assets/plugin/select2/js/select2.min.js"></script>

	<!-- Demo Scripts -->
	<script src="assets/scripts/form.demo.js"></script>

	<script src="assets/scripts/main.min.js"></script>
	<script src="assets/scripts/horizontal-menu.min.js"></script>
</body>
</html>