<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Login</title>
	<link rel="stylesheet" href="assets/styles/style.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="assets/plugin/waves/waves.min.css">

	<!-- Toastr -->
	<link rel="stylesheet" href="assets/plugin/toastr/toastr.css">

	<!-- Sweet Alert -->
	<link rel="stylesheet" href="assets/plugin/sweet-alert/sweetalert.css">

</head>

<body>


	<div id="single-wrapper">
		<form action="" class="frm-single" id="login">
			<div class="inside">
				<div class="title">COARTMEX<strong> PRO</strong></div>
				<!-- /.title -->
				<div class="frm-title">Inicio de sesión</div>
				<!-- /.frm-title -->
				<div class="frm-input"><input type="text" placeholder="Usuario" class="frm-inp" id="user"><i class="fa fa-user frm-ico"></i></div>
				<!-- /.frm-input -->
				<div class="frm-input"><input type="password" placeholder="Contraseña" class="frm-inp" id="pass"><i class="fa fa-lock frm-ico"></i></div>
				<!-- /.frm-input -->
				<div class="clearfix margin-bottom-20">
	
	
					<div class="pull-right"><a id="recoverPass" href="#" class="a-link"><i class="fa fa-unlock-alt"></i>¿Olvidaste tu contraseña?</a></div>
					<!-- /.pull-right -->
				</div>
				<!-- /.clearfix -->
				<button type="submit" class="frm-submit">Entrar<i class="fa fa-arrow-circle-right"></i></button>
				
				<!-- /.row -->
				
				<div class="frm-footer">COARTMEX</div>
				<!-- /.footer -->
			</div>
			<!-- .inside -->
		</form>
		<!-- /.frm-single -->
	</div><!--/#single-wrapper -->
	

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script src="assets/JS/login.js"></script>

	<script src="assets/scripts/jquery.min.js"></script>
	<script src="assets/scripts/modernizr.min.js"></script>
	<script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugin/nprogress/nprogress.js"></script>
	<script src="assets/plugin/waves/waves.min.js"></script>

	<script src="assets/scripts/main.min.js"></script>

	<!-- Toastr -->
	<script src="assets/plugin/toastr/toastr.min.js"></script>
	<script src="assets/scripts/toastr.demo.min.js"></script>

	<!-- SweetAlert -->
	<script src="assets/plugin/sweet-alert/sweetalert.min.js"></script>


</body>
</html>