<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Perfil puesto - COARTMEX-PRO</title>

	<!-- Main Styles -->
	<link rel="stylesheet" href="assets/styles/style.css">

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" href="assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="assets/plugin/waves/waves.min.css">

	<!-- Sweet Alert -->
	<link rel="stylesheet" href="assets/plugin/sweet-alert/sweetalert.css">

	<!-- Toastr -->
	<link rel="stylesheet" href="assets/plugin/toastr/toastr.css">
	
	<!-- Fontello Icon -->
	<link rel="stylesheet" href="assets/fonts/fontello/fontello.css">

	<!-- Material Design Icon -->
	<link rel="stylesheet" href="assets/fonts/material-design/css/materialdesignicons.css">

	<!-- Jquery UI -->
	<link rel="stylesheet" href="assets/plugin/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" href="assets/plugin/jquery-ui/jquery-ui.structure.min.css">
	<link rel="stylesheet" href="assets/plugin/jquery-ui/jquery-ui.theme.min.css">

</head>

<body>
<div class="main-menu">
	<header class="header">
		<a href="index.html" class="logo">COARTMEX-PRO</a>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
		<div class="user">
			<a href="#" class="avatar"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTomPrJLgLq4aZpXJJhxQ5HjtOgBguGXzsJw&s" alt=""><span class="status online"></span></a>
			<h5 class="name"><a id="usuario" href="#">Usuario</a></h5>
			<h5 class="position" id="departamento">Departamento</h5>
			<!-- /.name -->
		</div>
		<!-- /.user -->
	</header>
	<!-- /.header -->
	<div class="content">

		<div class="navigation">
			<h5 class="title">Navegación</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li>
					<a class="waves-effect" href="index.html"><i class="menu-icon fa fa-home"></i><span>Bienvenida</span></a>
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-dashboard"></i><span>Análisis de datos</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="analisis.html"><i class="fa fa-percent"></i> Dashboard</a></li>
						<li><a href="analisis_graficas.html"><i class="fa fa-bar-chart"></i> Gráficas</a></li>
						<li><a href="analisis_tablas.html"><i class="fa fa-table"></i> Tabla de datos</a></li>
						<li><a href="comparativas.html"><i class="fa fa-calendar-minus-o"></i> Comparar años</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-gear"></i><span>Manager PRO</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li>
							<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-calculator"></i><span>Contable y fiscal </span><span class="menu-arrow fa fa-angle-down"></span></a>
							<ul class="sub-menu js__content">
								<li><a href="fuentes.html"><i class="fa fa-file-excel-o"></i> Interfaz de reportes</a></li>
							</ul>
		
						</li>
						<li>
							<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-user"></i><span>Recursos humanos </span><span class="menu-arrow fa fa-angle-down"></span></a>
							<ul class="sub-menu js__content">
								<li><a href="perfiles_puesto.html"><i class="fa icon-vcard"></i> Perfiles de puesto</a></li>
								<li><a href="colaboradores.html"><i class="fa fa-suitcase"></i> Colaboradores</a></li>
								<li><a href="reloj_checador.html"><i class="fa fa-clock-o"></i> Reloj checador</a></li>
								<li><a href="datos_rh.html"><i class="fa fa-wrench"></i> Herramientas de datos</a></li>
							</ul>
						</li>		
						<li>
							<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-laptop"></i><span>Sistemas </span><span class="menu-arrow fa fa-angle-down"></span></a>
							<ul class="sub-menu js__content">
								<li><a href="departamentos.html"><i class="fa fa-building"></i> Departamentos</a></li>
								<li><a href="cursos.html"><i class="fa fa-graduation-cap"></i> Cursos</a></li>
								<li><a href="beneficios.html"><i class="fa fa-heartbeat"></i> PAC</a></li>
								<li><a href="empleados.html"><i class="fa fa-suitcase"></i> Colaboradores</a></li>
								<li><a href="usuarios.html"><i class="fa fa-user"></i> Usuarios</a></li>
								<li><a href="proveedores.html"><i class="fa fa-truck"></i> Proveedores</a></li>
								<li><a href="socios_comerciales.html"><i class="fa fa-star"></i> Socios comerciales</a></li>
								<li><a href="articulos.html"><i class="fa fa-tag"></i> Articulos</a></li>
								<li><a href="ubicaciones.html"><i class="fa fa-globe"></i> Ubicaciones</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			
		</div>
		<!-- /.navigation -->
		 
	</div>
	<!-- /.content -->
</div>
<!-- /.main-menu -->

<div class="fixed-navbar">
	<div class="pull-left">
		<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
		<h1 class="page-title">Jefe administrativo</h1>
		<!-- /.page-title -->
	</div>
	<!-- /.pull-left -->
	<div class="pull-right">
		<a id="cerrarSesion" class="ico-item fa fa-power-off logout"></a>
	</div>
	<!-- /.pull-right -->
</div>
<!-- /.fixed-navbar -->

<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">

			<div class="col-xs-12">
				<div class="box-content">
					<!-- <h1 class="box-title">Perfil del puesto</h1> -->
					<!-- /.box-title -->
					<h1>Administración contable<small> - oficinas</small></h1>

					<div class="col-xs-12 margin-bottom-10">
						<div id="tabs-ui" class="margin-top-10 js__ui_tab ui-tabs ui-corner-all ui-widget ui-widget-content">
							<ul role="tablist" class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
								<li role="tab" tabindex="0" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active" aria-controls="tabs-1" aria-labelledby="ui-id-7" aria-selected="true" aria-expanded="true"><a href="#tabs-1" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-7">Descripción del puesto <i class="ico mdi mdi-book"></i> </a></li>
								<li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-2" aria-labelledby="ui-id-8" aria-selected="false" aria-expanded="false"><a href="#tabs-2" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-8">Perfil del puesto <i class="ico icon-vcard"></i></a></li>
								
							</ul>
							<div id="tabs-1" aria-labelledby="ui-id-7" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="false" style="">
								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="box-content js__card card-closed">
										<h4 class="box-title with-control">
											Descripción del puesto <i class="ico icon-quote-right-1"></i>
											<span class="controls">
												<button type="button" class="control fa fa-minus js__card_minus"></button>
											</span>
											<!-- /.controls -->
										</h4>
										<!-- /.box-title -->
										<div class="js__card_content" style="display: none;">
											<table class="table">
												<thead>
													<th>Puesto</th>
													<th>Departamento</th>
													<th>Jefe inmediato</th>
													<th>Relaciones externas</th>
													<th>Relaciones internas</th>
												</thead>
												<tbody> 
													<tr> 
														<td>Administración contable</td> 
														<td>Oficinas</td> 
														<td>Dirección comercial</td> 
														<td>Proveedores y socios comerciales</td> 
														<td>Todas las areas de la empresa</td> 
													</tr> 
												</tbody> 
											</table>
										</div>
									</div>
									<!-- /.box-content -->
								</div>
								
								<div class="col-lg-6 col-md-6 col-xs-6">
									<div class="box-content bordered info js__card card-closed">
										<h4 class="box-title with-control">
											Propósito general <i class="fa fa-flag"></i>
											<span class="controls">
												<button type="button" class="control fa fa-minus js__card_minus"></button>
											</span>
											<!-- /.controls -->
										</h4>
										<!-- /.box-title -->
										<div class="js__card_content" style="display: none;">
											<p>
												El titular de este puesto es responsable de la aplicación contable, control de valores por pago a proveedores, fondo de caja chica y saldos contables, da seguimiento a la oportunidad y veracidad del registro de Gastos, verificar la veracidad de las cifras registradas. Mantener el control interno.
											</p>
										</div>
									</div>
									<!-- /.box-content -->
								</div>

								<div class="col-lg-6 col-md-6 col-xs-6">
									<div class="box-content bordered purple js__card card-closed">
										<h4 class="box-title with-control">
											Resultados esperados <i class="fa fa-check-square-o"></i>
											<span class="controls">
												<button type="button" class="control fa fa-minus js__card_minus"></button>
											</span>
											<!-- /.controls -->
										</h4>
										<!-- /.box-title -->
										<div class="js__card_content" style="display: none;">
											<p>
												Mejorar el control interno y la Administración de la empresa. 	
											</p>
										</div>
									</div>
									<!-- /.box-content -->
								</div>
								
								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="box-content bordered warning js__card card-closed">
										<h4 class="box-title with-control">
											Descripción especifica <i class="ico mdi mdi-compass"></i>
											<span class="controls">
												<button type="button" class="control fa fa-minus js__card_minus"></button>
											</span>
											<!-- /.controls -->
										</h4>
										<!-- /.box-title -->
										<div class="js__card_content" style="display: none;">
											<table class="table table-hover">
                                                <thead>
                                                    <th>1. Facturación</th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Revisar correos de pedidos de hoteles y socios comerciales.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Clasificar OCs y entregarlas a almacén para surtido.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Validar entregas y emitir facturas según lineamientos de cada cliente.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Enviar facturas por correo o portal correspondiente.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Subir facturas y complementos en plataformas o portales de clientes.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Control de ventas por razón social y cliente.</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table class="table table-hover">
                                                <thead>
                                                    <th>2. Recepción de pagos</th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Recibir comprobantes de depósitos.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Realizar complementos de pago al momento de recibir el depósito.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Verificar pagos por razón social y controlar vencimientos.</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table class="table table-hover">
                                                <thead>
                                                    <th>3. Erogaciones y pagos</th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Registrar cuentas por pagar a artesanos.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Controlar pagos únicos o a crédito mediante tabla de CxP.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Verificar comprobantes de pagos y actualizarlos semanalmente.</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Entregar formato de pagos a Gerencia Comercial.</td>
                                                    </tr>
                                                </tbody>
                                            </table>

										</div>
									</div>
									<!-- /.box-content -->
								</div>
								
								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="box-content success bordered js__card card-closed">
										<h4 class="box-title with-control">
											Actividades periódicas o eventuales <i class="ico mdi mdi-star-circle"></i>
											<span class="controls">
												<button type="button" class="control fa fa-minus js__card_minus"></button>
											</span>
											<!-- /.controls -->
										</h4>
										<!-- /.box-title -->
										<div class="js__card_content" style="display: none;">
											<ul class="list-group margin-top-20">
												<li class="list-group-item"><i class="ico icon-ok-4"></i> Descargar CSF y Opinión de Cumplimiento del SAT para las razones sociales.</li>
												<li class="list-group-item"><i class="ico icon-ok-4"></i> Solicitar facturación de guías enviadas por correo.</li>
												<li class="list-group-item"><i class="ico icon-ok-4"></i> Realizar lista mensual de suministros para almacén y oficina.</li>
                                                <li class="list-group-item"><i class="ico icon-ok-4"></i> Elaborar pre-cierre mensual (pagos cobrados y por cobrar).</li>
                                                <li class="list-group-item"><i class="ico icon-ok-4"></i> Apoyar al contador con facturación para la baja fiscal.</li>
                                                <li class="list-group-item"><i class="ico icon-ok-4"></i> Actualizar catálogos de productos y elaborar cotizaciones si se solicita.</li>
                                                <li class="list-group-item"><i class="ico icon-ok-4"></i> Solicitar a Gerencia Comercial el estado de cuenta mensual.</li>
                                                <li class="list-group-item"><i class="ico icon-ok-4"></i> Elaborar tabla de ventas mensuales por proveedor (monto y %).</li>
                                                <li class="list-group-item"><i class="ico icon-ok-4"></i> Reportar compras sin factura del mes.</li>
                                                <li class="list-group-item"><i class="ico icon-ok-4"></i> Registrar gastos no facturados en Contalink mediante póliza manual.</li>
                                                <li class="list-group-item"><i class="ico icon-ok-4"></i> Calcular tabla de comisiones mensuales por socio comercial (1% y 2%).</li>
											</ul>
										</div>
									</div>
									<!-- /.box-content -->
								</div>
								
								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="box-content js__card card-closed">
										<h4 class="box-title with-control">
											Otras obligaciones y responsabilidades <i class="fa fa-check-circle-o"></i>
											<span class="controls">
												<button type="button" class="control fa fa-minus js__card_minus"></button>
											</span>
											<!-- /.controls -->
										</h4>
										<!-- /.box-title -->
										<div class="js__card_content" style="display: none;">
											<ul class="list-group margin-top-20">
												<li class="list-group-item"><i class="ico icon-ok-4"></i> Cumplir las leyes, los reglamentos y normas aplicadas a nuestros productos.</li>
												<li class="list-group-item"><i class="ico icon-ok-4"></i> Capacidad para trabajar con autonomía y gestionar varios proyectos.</li>
												<li class="list-group-item"><i class="ico icon-ok-4"></i> Confidencialidad con la información que es recibida de la empresa.</li>
											</ul>
										</div>
									</div>
									<!-- /.box-content -->
								</div>

								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="box-content js__card card-closed">
										<h4 class="box-title with-control">
											Maquinas, equipos, herramientas y software que usa <i class="fa fa-wrench"></i>
											<span class="controls">
												<button type="button" class="control fa fa-minus js__card_minus"></button>
											</span>
											<!-- /.controls -->
										</h4>
										<!-- /.box-title -->
										<div class="card-content js__card_content" style="display: none;">
											<table class="table table-bordered">
												<tbody> 
													<tr> 
														<td class="text-center" style="width: 30%;">Excel</td> 
														<td class="text-center" style="width: 30%;">Power Point</td> 
														<td class="text-center" style="width: 30%;">Word</td> 
													</tr> 
												</tbody> 
											</table>
										</div>
									</div>
									<!-- /.box-content -->
								</div>

								<p>.</p>
							</div>
							<div id="tabs-2" aria-labelledby="ui-id-8" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="true" style="display: none;">
								
								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="box-content js__card card-closed">
										<h4 class="box-title with-control">
											Conocimiento <i class="ico icon-lamp"></i>
											<span class="controls">
												<button type="button" class="control fa fa-minus js__card_minus"></button>
											</span>
											<!-- /.controls -->
										</h4>
										<!-- /.box-title -->
										<div class="card-content js__card_content" style="display: none;">
											
											<div class="col-lg-4 col-md-4 col-xs-4">
												<h4>Conocimiento general:</h4>
												<ul class="list-group margin-top-20">
													<li class="list-group-item"><i class="ico icon-ok-4"></i> Manejo de excel.</li>
													<li class="list-group-item"><i class="ico icon-ok-4"></i> Manejo del personal a su cargo.</li>
												</ul>
											</div>
											<div class="col-lg-4 col-md-4 col-xs-4">
												<h4>Comercio:</h4>
												<ul class="list-group margin-top-20">
													<li class="list-group-item"><i class="ico icon-ok-4"></i> Administración.</li>
												</ul>
											</div>
											<div class="col-lg-4 col-md-4 col-xs-4">
												<h4>Matemáticas:</h4>
												<ul class="list-group margin-top-20">
													<li class="list-group-item"><i class="ico icon-ok-4"></i> Calculo.</li>
													<li class="list-group-item"><i class="ico icon-ok-4"></i> Estadistica.</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- /.box-content -->
								</div>

								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="box-content js__card card-closed">
										<h4 class="box-title with-control">
											Aptitudes<i class="ico icon-thumbs-up"></i>
											<span class="controls">
												<button type="button" class="control fa fa-minus js__card_minus"></button>
											</span>
											<!-- /.controls -->
										</h4>
										<!-- /.box-title -->
										<div class="card-content js__card_content" style="display: none;">
											
											<div class="col-md-4">
												
												<h4>Aptitudes basicas:</h4>
												<ul class="list-group margin-top-20">
													<li class="list-group-item"><i class="ico icon-ok-4"></i> Destacarse en las reuniones con los socios comerciales</li>
													<li class="list-group-item"><i class="ico icon-ok-4"></i> Pensar en las ventajas y desventajas de las diferentes opciones para resolver un problema</li>
												</ul>
											</div>
											<div class="col-md-4">
												<h4>Solucion de problemas:</h4>
												<ul class="list-group margin-top-20">
													<li class="list-group-item"><i class="ico icon-ok-4"></i> Darse cuenta de un problema y buscar la mejor manera de resolverlo.</li>
												</ul>
											</div>
											<div class="col-md-4">
												<h4>Personal y sistema de tecnología:</h4>
												<ul class="list-group margin-top-20">
													<li class="list-group-item"><i class="ico icon-ok-4"></i> Pensar en las ventajas y desventajas de las diferentes opciones y seleccionar la mejor.</li>
													<li class="list-group-item"><i class="ico icon-ok-4"></i> Observar que tan bien funciona un sistema y como mejorarlo.</li>
												</ul>
											</div>

											
										</div>
									</div>
									<!-- /.box-content -->
								</div>

								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="box-content js__card card-closed">
										<h4 class="box-title with-control">
											Habilidades<i class="ico icon-star-empty"></i>
											<span class="controls">
												<button type="button" class="control fa fa-minus js__card_minus"></button>
											</span>
											<!-- /.controls -->
										</h4>
										<!-- /.box-title -->
										<div class="card-content js__card_content" style="display: none;">
											
											<div class="col-md-4">
												<h4>Habilidades verbales:</h4>
												<ul class="list-group margin-top-20">
													<li class="list-group-item"><i class="ico icon-ok-4"></i> Comunicarce hablando, escuchar y entender lo que dicen las personas.</li>
													<li class="list-group-item"><i class="ico icon-ok-4"></i> Paciente y trabajo en equipo.</li>
												</ul>
											</div>
											<div class="col-md-4">
												<h4>Ideas y lógica:</h4>
												<ul class="list-group margin-top-20">
													<li class="list-group-item"><i class="ico icon-ok-4"></i> Notar cuando ocurren problemas, usar reglas para resolver problemas.</li>
												</ul>
											</div>
											<div class="row small-spacing">
												<div class="col-md-4">
													<h4>Matematicas:</h4>
													<ul class="list-group margin-top-20">
														<li class="list-group-item"><i class="ico icon-ok-4"></i> Habilidades analíticas, organizativas para la resolución de problemas.</li>
													</ul>
												</div>
											</div>

											
										</div>
									</div>
									<!-- /.box-content -->
								</div>

								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="box-content js__card card-closed">
										<h4 class="box-title with-control">
											Personalidad <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
											<span class="controls">
												<button type="button" class="control fa fa-minus js__card_minus"></button>
											</span>
											<!-- /.controls -->
										</h4>
										<!-- /.box-title -->
										<div class="card-content js__card_content" style="display: none;">
											
											<div class="col-md-12">
												<ul class="list-group margin-top-20">
													<li class="list-group-item"> A las personas interesadas en este puesto les gustan las actividades que incluyan el liderazgo.</li>
													<li class="list-group-item"> tomar decisiones y negocios.</li>
													<li class="list-group-item"> Hacen bien el trabajo que necesita.</li>
													<li class="list-group-item"> Confiablilidad.</li>
													<li class="list-group-item"> Integridad.</li>
													<li class="list-group-item"> Liderazgo.</li>
													<li class="list-group-item"> Tolerar al estrés.</li>
													<li class="list-group-item"> Atenciòn al detalle.</li>
													<li class="list-group-item"> Cooperaciòn.</li>
												</ul>
											</div>

											
										</div>
									</div>
									<!-- /.box-content -->
								</div>

								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="box-content js__card card-closed">
										<h4 class="box-title with-control">
											Tecnologías <i class="fa fa-laptop" aria-hidden="true"></i>
											<span class="controls">
												<button type="button" class="control fa fa-minus js__card_minus"></button>
											</span>
											<!-- /.controls -->
										</h4>
										<!-- /.box-title -->
										<div class="card-content js__card_content" style="display: none;">
											
											<div class="col-md-6">
												<h4>Manejo de pc:</h4>
												<ul class="list-group margin-top-20">
													<li class="list-group-item"><i class="ico icon-ok-4"></i>Word.</li>
													<li class="list-group-item"><i class="ico icon-ok-4"></i>Excel.</li>
													<li class="list-group-item"><i class="ico icon-ok-4"></i>Power Point.</li>
												</ul>
											</div>

											<div class="col-md-6">
												<h4>ERP:</h4>
												<ul class="list-group margin-top-20">
													<li class="list-group-item"><i class="ico icon-ok-4"></i>De inventarios.</li>
													<li class="list-group-item"><i class="ico icon-ok-4"></i>Descarga de informaciòn.</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- /.box-content -->
								</div>

								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="box-content js__card card-closed">
										<h4 class="box-title with-control">
											Educación <i class="fa fa-graduation-cap"></i>
											<span class="controls">
												<button type="button" class="control fa fa-minus js__card_minus"></button>
											</span>
											<!-- /.controls -->
										</h4>
										<!-- /.box-title -->
										<div class="card-content js__card_content" style="display: none;">
											
											<div class="col-md-6">
												<h4>Formación <i class="fa fa-book" aria-hidden="true"></i></h4>
												<ul class="list-group margin-top-20">
													<li class="list-group-item"> TSU en Contaduría Pública </li>
													<li class="list-group-item"> Lic. En contaduría Publica.</li>
												</ul>
											</div>
										</div>
									</div>
									<!-- /.box-content -->
								</div>

								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="box-content js__card card-closed">
										<h4 class="box-title with-control">
											Perspectiva laboral <i class="fa fa-usd"></i>
											<span class="controls">
												<button type="button" class="control fa fa-minus js__card_minus"></button>
											</span>
											<!-- /.controls -->
										</h4>
										<!-- /.box-title -->
										<div class="card-content js__card_content" style="display: none;">
											
											<div class="col-md-12">
												<h4>Sobre resultados <i class="ico mdi mdi-trending-up"></i></h4>
												<table class="table">
													<thead>
														<th>Salario mensual:</th>
														<th>Prospeccion mensual:</th>
														<th>Beneficios:</th>
														<th>Capacitacion constante:</th>
													</thead>
													<tbody>
														<tr>
															<td>$0.00</td>
															<td>$0.00</td>
															<td>$0.00</td>
															<td>$0.00</td>
														</tr>
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!-- /.box-content -->
								</div>

								<p>.</p>
							</div>
						</div>
					</div>

                </div>
            </div>

		</div>
		<!-- /.row -->		
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="assets/JS/autenticar.js"></script>

	<!-- <script src="assets/scripts/jquery.min.js"></script> -->
	<script src="assets/scripts/modernizr.min.js"></script>
	<script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="assets/plugin/nprogress/nprogress.js"></script>
	<script src="assets/plugin/waves/waves.min.js"></script>

	<script src="assets/scripts/main.min.js"></script>

	<!-- Toastr -->
	<script src="assets/plugin/toastr/toastr.min.js"></script>

	<!-- Jquery UI -->
	<script src="assets/plugin/jquery-ui/jquery-ui.min.js"></script>
	<script src="assets/plugin/jquery-ui/jquery.ui.touch-punch.min.js"></script>
</body>
</html>