{% extends "Dashboard.html" %}

{% block title %}Análisis general{% endblock %}


{% block content %}
<div class="fixed-navbar">
	<div class="pull-left">
		<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
		<h1 class="page-title">Análisis general</h1>
		<!-- /.page-title -->
	</div>
	<!-- /.pull-left -->
	<div class="pull-right">
		<a id="cerrarSesion" class="ico-item fa fa-power-off logout"></a>
	</div>
	<!-- /.pull-right -->
</div>

<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			
			<!-- FILTROS -->
			<div class="col-lg-12 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Filtro por meses <span id="currentYear">20##</span></h4>
					<!-- /.box-title -->

					<!-- CHECKBOXES -->
					 <div class="row">
						<div class="col-lg-12">
							<div class="row-inline-block">
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="01" type="checkbox" id="checkbox-1"><label for="checkbox-1">Ene</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="02" type="checkbox" id="checkbox-2"><label for="checkbox-2">Feb</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="03" type="checkbox" id="checkbox-3"><label for="checkbox-3">Mar</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="04" type="checkbox" id="checkbox-4"><label for="checkbox-4">Abr</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="05" type="checkbox" id="checkbox-5"><label for="checkbox-5">May</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="06" type="checkbox" id="checkbox-6"><label for="checkbox-6">Jun</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="07" type="checkbox" id="checkbox-7"><label for="checkbox-7">Jul</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="08" type="checkbox" id="checkbox-8"><label for="checkbox-8">Ago</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="09" type="checkbox" id="checkbox-9"><label for="checkbox-9">Sep</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="10" type="checkbox" id="checkbox-10"><label for="checkbox-10">Oct</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="11" type="checkbox" id="checkbox-11"><label for="checkbox-11">Nov</label></div></div>
								<div class="col-md-1 col-xs-3"><div class="checkbox"><input value="12" type="checkbox" id="checkbox-12"><label for="checkbox-12">Dic</label></div></div>
							</div>

							<div class="col-xs-12 col-sm-offset-4 margin-top-2 margin-left-2" >
								<ul class="list-inline">
									<li>
										<button type="submit" class="btn btn-default btn-bordered btn-xs waves-effect waves-light" id="todos">Todos</button>
									</li>
									<li>
										<button type="submit" class="btn btn-info btn-bordered btn-xs waves-effect waves-light" id="meses"><i class="fa fa-search"></i> Aplicar filtro</button>
									</li>
								</ul>
							</div>
							<!--  -->
						</div>
						<!-- /.col-lg-8 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.box-content -->
			</div>

			<!-- FECHA RECIENTE -->
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="text-center box-title text">Fecha más reciente</h4>
					<!-- /.box-title -->
					<p class="text-center" id="fechaReciente">---</p>
					
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-xs-12 -->

			<!-- VENTAS -->
			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="text-center box-title text-info">Ventas</h4>
					<!-- /.box-title -->
					<div class="content widget-stat">
						<div id="traffic-sparkline-chart-2" class="left-content"></div>
						<!-- /#traffic-sparkline-chart-2 -->
						<div class="right-content text-center">
							<h2 class="counter text-info" id="ventas">---</h2>
							<!-- /.counter -->
							<p class="text text-info">En acumulo</p>
							<!-- /.text -->
						</div>
						<!-- .right-content -->
					</div>
					<!-- /.content widget-stat -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-xs-12 -->

			<!-- CRECIMIENTO-->
			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="text-center box-title text-info">Crecimiento vs <span id="lastYear"></span></h4>
					<!-- /.box-title -->
					<div class="content widget-stat">
						<div id="traffic-sparkline-chart-1" class="left-content margin-top-15"></div>
						<!-- /#traffic-sparkline-chart-1 -->
						<div class="right-content text-center">
							<h2 class="counter text-info" id="crecimientos">---</h2>
							<!-- /.counter -->
							<p class="text text-info">De crecimiento</p>
							<!-- /.text -->
						</div>
						<!-- .right-content -->
					</div>
					<!-- /.content widget-stat -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-xs-12 -->

			<!-- INGRESOS COBRADOS -->
			<div class="col-lg-4 col-xs-12">
				<div class="box-content">
					<h4 class="text-center box-title text-info">Ingresos</h4>
					<!-- /.box-title -->
					
					<div class="content widget-stat">
						<div id="bar-sparkline-chart" class="left-content"></div>
						<!-- /#traffic-sparkline-chart-1 -->
						<div class="right-content text-center">
							
							<h3 class="counter text-info" id="ingresos">---</h3>
							<!-- /.counter -->
							<p class="text text-info">Ingresos acumulables</p>
							<!-- /.text -->
						</div>
						<!-- .right-content -->
					</div>
					<!-- /.content widget-stat -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-xs-12 -->

			<!-- EGRESOS -->
			<div class="col-lg-4 col-xs-12">
				<div class="box-content">
					<h4 class="text-center box-title text-info">Egresos</h4>
					<!-- /.box-title -->
					<div class="content widget-stat">
						<div id="pie-sparkline-chart" class="left-content"></div>
						<!-- /#traffic-sparkline-chart-2 -->
						
						<div class="right-content text-center">
							<h3 class="counter text-info" id="efectivoUtilizado">---</h3>
							<!-- /.counter -->
							<p class="text text-info">Gastos y compras</p>
							<!-- /.text -->
						</div>
						<!-- .right-content -->
					</div>
					<!-- /.content widget-stat -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-xs-12 -->

			<!-- FLUJO DISPONIBLE -->
			<div class="col-lg-4 col-xs-12">
				<div class="box-content">
					<h4 class="text-center box-title text-info">Flujo de efectivo disponible</h4>
					<!-- /.box-title -->
					<div class="content widget-stat">
						<div id="traffic-sparkline-chart-3" class="left-content"></div>
						<!-- /#traffic-sparkline-chart-3 -->
						<div class="right-content text-center">
							<h3 class="counter text-info" id="flujoRemanente">---</h3>
							<!-- /.counter -->
							<p class="text text-info">Efectivo restante</p>
							<!-- /.text -->
						</div>
						<!-- .right-content -->
					</div>
					<!-- /.content widget-stat -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-xs-12 -->
			
			<!-- VAlOR INVENTARIO -->
			<div class="col-lg-4 col-md-6 col-xs-12 ">
				<div class="box-content">
					<div class="statistics-box with-icon">
						<i class="ico small fa fa-tag text-info"></i><!-- text-inverse -->
						<p class="text text-center text-info">$ INVENTARIO</p>
						<h3 class="counter text-center text-info" id="inventarios">---</h3>
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-3 col-md-6 col-xs-12 -->

			<!-- CUENTAS POR COBRAR -->
			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content">
					<div class="statistics-box with-icon text-info">
						<i class="ico small icon-money-2"></i>
						<p class="text text-center text-info">CxC</p>
						<h3 class="counter text-center text-info" id="cuentasPorCobrar">---</h3>
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-3 col-md-6 col-xs-12 -->

			<!-- CUENTAS POR PAGAR -->
			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content">
					<div class="statistics-box with-icon">
						<i class="ico small fa fa-calculator text-info"></i>
						<p class="text text-center text-info">CxP</p>
						<h3 class="counter text-center text-info" id="cuentasPorPagar">---</h3>
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-3 col-md-6 col-xs-12 -->

			<!-- GASTOS -->
			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content">
					<div class="statistics-box with-icon">
						<i class="ico small fa fa-wrench text-info"></i>
						<p class="text text-center text-info">GASTOS</p>
						<h3 class="counter text-center text-info" id="gastos">---</h3>
					</div>
				</div>
				<!-- /.box-content -->
			</div>

			<!-- EXISTENCIAS -->
			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content">
					<div class="statistics-box with-icon">
						<p class="text-center text-info">PZAS EXIST INV</p>
						<i class="ico small mdi mdi-package-variant text-info"></i>
						<h3 class="counter text-center text-info" id="articulos">---</h3>						
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-3 col-md-6 col-xs-12 -->

			<!-- COMPRAS DE MERCANCIA -->
			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="box-content">
					<div class="statistics-box with-icon">
						<p class="text-center text-info">COMPRAS MCIA</p>
						<i class="ico small fa fa-credit-card text-info"></i>
						<h3 class="counter text-center text-info" id="compras">---</h3>					
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-3 col-md-6 col-xs-12 -->

			<!-- CLIENTES -->
			<div class="col-lg-6 col-md-6 col-xs-12 desplegable" id="clientes">
				<div class="box-content divSize">
					<div class="statistics-box with-icon">
						<p class="text-center text-info">CLIENTES/VTA</p>
						<i class="ico small fa fa-users text-info"></i>
						<h3 class="counter text-center text-info" id="socios">---</h3>
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-3 col-md-6 col-xs-12 -->

			<!-- ARTICULOS VENDIDOS -->
			<div class="col-lg-6 col-md-6 col-xs-12 " id="">
				<div class="box-content ">
					<div class="statistics-box with-icon">
						<p class="text-center text-info">ART VENDIDOS</p>
						<i class="ico small icon-basket text-info"></i>
						<h3 class="counter text-center text-info" id="articulosVendidos">---</h3>
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-3 col-md-6 col-xs-12 -->
			
			<!-- POPUP -->
			<div class="popup-container" id="popup" style="display: none;">
				<div class="popup-card" id="popupCard">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" id="closePopup">&times;</span></button>
					<h3 class="text-center">Detalles de Clientes</h3>
					<!-- Contenedor de tablas -->

					<div id="tablaSocios">
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
								<tr>
									<th class="text-center">Socio</th>
									<th class="text-center">Monto</th>
									<th class="text-center">% VTA</th>
								</tr>
								</thead>
								<tbody id="sociosEnVentas"></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<!-- /.row small-spacing -->
			
		<!-- TOP 1  -->
        <div class="row small-spacing">
			
			<!-- TOP1 -->
			<div class="col-lg-12 col-xs-12">
				<div class="box-content">
					<h4 class="text-center box-title">Detalle articulos vendidos</h4>
					<!-- /.box-title -->
					<div class="text-right margin-bottom-10">
						<button class="btn btn-xs btn-bordered" onclick="toggleTabla()">Mostrar/Ocultar Tabla</button>
					</div>

					<div class="table-responsive table-purchases">
						<div id="contenedor-tabla" style="display: block;">
							<table id="top1Table" class="table table-hover margin-bottom-10">
								<thead>
									<tr>
										<th>Articulo</th>
										<th>Pzas</th>
									</tr>
								</thead>
								<tbody id="top1">
								</tbody>
							</table>
						</div>
						<!-- /.table -->
					</div>
					<!-- /.table-responsive -->

					<div class="text-right" id="cerrar2" style="display: block;">
						<button class="btn btn-xs btn-bordered" onclick="toggleTabla()">Mostrar/Ocultar Tabla</button>
					</div>

				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-6 col-xs-12 -->
			
		</div>
		<!-- /.row -->

		<!-- TOP 2 - 3 -->
		<div class="row small-spacing">
			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="text-center box-title">Cantidad articulos entregados</h4>
					<!-- /.box-title -->
					<div id="top3Contenedor" class="table-responsive table-purchases">
						<table class="table table-small-font table-hover margin-bottom-10">
							<thead>
								<tr>
									<th>Socio</th>
									<th>Pzas</th>
								</tr>
							</thead>
							<tbody id="top3">
								
							</tbody>
						</table>
						<!-- /.table -->
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-6 col-xs-12 -->

			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="text-center box-title">Cantidad OC entregadas</h4>
					<!-- /.box-title -->
					<div class="table-responsive table-purchases">
						<table class="table table-small-font table-hover margin-bottom-10">
							<thead>
								<tr>
									<th>Socio</th>
									<th>Cant OC</th>
								</tr>
							</thead>
							<tbody id="top2">
								
							</tbody>
						</table>
						<!-- /.table -->
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-6 col-xs-12 -->

		</div>
		<!-- /.row -->
		
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="text-center box-title">Metricas de servicio</h4>
					<!-- /.box-title -->
					<div class="table-responsive table-purchases">
						<table class="table table-small-font margin-bottom-10 table-hover">
							<thead>
								<tr>
									<th>Socio</th>
									<th class="text-center">Pzas ordenadas</th>
									<th class="text-center">Pzas entregadas</th>
									<th class="text-center"># OC</th>
									<th class="text-center">% Entrega</th>
								</tr>
							</thead>
							<tbody id="servicio">
								
							</tbody>
						</table>
						<!-- /.table -->
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-6 col-xs-12 -->
		</div>
		<!-- /.row -->


	</div>
	<!-- /.main-content -->

</div><!--/#wrapper -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='assets/JS/analisis.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<!-- Sparkline Chart -->
<script src="{{ url_for('static', filename='assets/plugin/chart/sparkline/jquery.sparkline.js') }}"></script>
<script src="{{ url_for('static', filename='assets/scripts/chart.sparkline.init.js') }}"></script>
{% endblock %}

