{% extends "Dashboard.html" %}

{% block title %}Lista de precios{% endblock %}

{% block NavBar %}Lista de precios{% endblock %}

{% block content %}
<div class="fixed-navbar">
	<div class="pull-left">
		<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
		<h1 class="page-title">Asignar lista de precios</h1>
		<!-- /.page-title -->
	</div>
	<!-- /.pull-left -->
	<div class="pull-right">
		<a id="cerrarSesion" class="ico-item fa fa-power-off logout"></a>
	</div>
	<!-- /.pull-right -->
</div>
<!-- /.fixed-navbar -->

<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-xs-12">

                <!-- Socios / Tiendas -->
				<div class="box-content">
					<h4 class="box-title">Asignar lista de precios</h4>
					<!-- /.box-title -->
					<h3><span id="nombreGrupo">grupo -</span><span id="nombreTienda"> tienda</span></h3>
					<button type="button" class="btn btn-primary btn-xs waves-effect waves-light margin-bottom-20"  id="agregarListaPrecios"><i class="fa fa-check"></i> Guardar</button>
                    <div class="switch warning"><input type="checkbox" id="switch-1"><label for="switch-1">Aplicar a todo el grupo</label></div>

					<table id="listaPrecioTable" class="table table-small-font table-hover table-bordered display" style="width:100%"></table>					
					
				</div>
				<!-- /.box-content -->

			</div>
			
		</div>
		<!-- /.row -->		
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='assets/JS/armar_lista_precios.js') }}"></script>

{% endblock %}

  