
{% extends "Dashboard.html" %}

{% block title %}Cuentas por pagar{% endblock %}

{% block NavBar %}Cuentas por pagar{% endblock %}

{% block content %}
<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-xs-12">

                <!-- Socios / Tiendas -->
				<div class="box-content">
					<h4 class="box-title">Cuentas por pagar</h4>
					<!-- /.box-title -->

					
                    <table id="cxpTable" class="table table-bordered display" style="width:100%"></table>					
					
				</div>
				<!-- /.box-content -->

				
			</div>
			
		</div>
		<!-- /.row -->		
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='assets/JS/cuentas_por_pagar.js') }}"></script>

{% endblock %}

  



