{% extends "Dashboard.html" %}

{% block title %}Lista de precios{% endblock %}

{% block NavBar %}Lista de precios{% endblock %}

{% block content %}


<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-xs-12">

                <!-- Socios / Tiendas -->
				<div class="box-content">
					<h4 class="box-title">Asignar lista de precios</h4>
					<!-- /.box-title -->
					<h3><span id="nombreGrupo">grupo -</span><span id="nombreTienda"> tienda</span></h3>
					<button type="button" class="btn btn-primary btn-xs waves-effect waves-light margin-bottom-20"  id="agregarListaPrecios"><i class="fa fa-check"></i> Guardar</button>
                    <div class="switch warning"><input type="checkbox" id="switch-1"><label for="switch-1">Aplicar a todo el grupo</label></div>

					<table id="listaPrecioTable" class="table table-small-font table-hover table-bordered display" style="width:100%"></table>					
					
				</div>
				<!-- /.box-content -->

			</div>
			
		</div>
		<!-- /.row -->		
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->


<!-- AQUI ESTAN LOS MODALES -->
<!-- Modal -->
<div class="modal fade" id="boostrapModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Titulo dinamico</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Nombre del socio comercial</label>
					<input type="text" class="form-control" id="nombreSocio">
				</div>
				<div class="form-group">
					<label>Razón social</label>
					<input type="text" class="form-control" id="razonSocial">
				</div>
				<div class="form-group">
					<label>Asignar grupo perteneciente</label>
					<select class="form-control" id="grupo_menu" >

					</select>
				</div>
				<div class="form-group">
					<h4 id="ubicacion_menu">Ubicacion de la tienda</h4>
				</div>

				<div class="form-group">
					<label>Ciudad donde se ubica <i class="fa fa-pencil-square-o" aria-hidden="true"></i></label><br>
					<select class="select2_2 form-control" multiple="multiple" style="width: 100%;" id="pueblosCiudades_menu">

					</select>
					
				</div>
				<div class="form-group">
					<label>Estado donde se ubica <i class="fa fa-pencil-square-o" aria-hidden="true"></i></label><br>
					<select class="select2_2 form-control" multiple="multiple" style="width: 100%;" id="estados_menu">

					</select>
					
				</div>
				<div class="form-group">
					<label>Pais donde se ubica <i class="fa fa-pencil-square-o" aria-hidden="true"></i></label><br>
					<select class="select2_2 form-control" multiple="multiple" style="width: 100%;" id="paises_menu">

					</select>
					
				</div>
                <div class="form-group">
					<label>Asignar zona de ruta</label>
					<select class="form-control" id="grupo_menu" >
                        <option>Zona hotelera</option>
                        <option>Riviera maya</option>
                        <option>Tulum</option>
                        <option>Cozumel</option>
                        <option selected>No aplica</option>
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-xs waves-effect waves-light" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary btn-xs waves-effect waves-light">Guardar</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='assets/JS/lista_precios.js') }}"></script>

{% endblock %}

  
