{% extends "Dashboard.html" %}

{% block title %}Perfiles de puestos{% endblock %}

{% block content %}

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> -->
<div class="fixed-navbar">
	<div class="pull-left">
		<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
		<h1 class="page-title">Puestos y perfil</h1>
		<!-- /.page-title -->
	</div>
	<!-- /.pull-left -->
	<div class="pull-right">
		<a id="cerrarSesion" class="ico-item fa fa-power-off logout"></a>
	</div>
	<!-- /.pull-right -->
</div>

<div id="wrapper">
	<div class="main-content">

		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Descripciones breves</h4>
					<!-- /.box-title -->
					
					<div class="row small-spacing">
						<div class="col-lg-6 col-md-6 col-xs-12">
							<div class="box-content bordered primary">
								<h4 class="box-title"><i class="fa fa-truck-loading"></i> Encargado de reabastecimiento</h4>
								<!-- /.box-title -->
								<p class="">Asistir en las actividades de almacén, recibiendo, revisando y organizando los materiales, productos, equipos y herramientas a fin de atender oportunamente las entregas a los socios comerciales.</p>
								<table class="table no-margin">
									<tbody>
										<tr>
											<th>Departamento</th>
											<td><span class="notice notice-success">Reabasto</span></td>
										</tr>
										<tr>
											<th>Jefe inmediato</th>
											<td>Dirección comercial</td>
										</tr>
										<tr>
											<th>Relaciones internas</th>
											<td>Todas las aréas</td>
										</tr>
										<tr>
											<th>Relaciones externas</th>
											<td>Sin relaciones</td>
										</tr>
									</tbody>
								</table>
								<div class="text-center margin-top-10">
									<a href="puesto_reabastecimiento"><button class="btn btn-bordered btn-xs btn-info btn-rounded"><i class="fa fa-info-circle"></i> Ver más</button></a>
								</div>
							</div>
							<!-- /.box-content -->
						</div>

						<div class="col-lg-6 col-md-6 col-xs-12">
							<div class="box-content bordered primary">
								<h4 class="box-title"><i class="fa fa-user-tie"></i> Jefe administrativo</h4>
								<!-- /.box-title -->
								<p class="">El jefe administrativo es una pieza fundamental para asegurar el correcto funcionamiento y operación COARTMEX ofreciendo su apoyo en la coordinación de los diferentes departamentos a su cargo.</p>
								<table class="table no-margin">
									<tbody>
										<tr>
											<th>Departamento</th>
											<td><span class="notice notice-success">Administración</span></td>
										</tr>
										<tr>
											<th>Jefe inmediato</th>
											<td>Dirección comercial</td>
										</tr>
										<tr>
											<th>Relaciones internas</th>
											<td>Todas las aréas</td>
										</tr>
										<tr>
											<th>Relaciones externas</th>
											<td>Proveedores, socios comerciales</td>
										</tr>
									</tbody>
								</table>
								<div class="text-center margin-top-10">
									<a href="puesto_jefeAdministrativo"><button class="btn btn-bordered btn-xs btn-info btn-rounded"><i class="fa fa-info-circle"></i> Ver más</button></a>
								</div>
							</div>
							<!-- /.box-content -->
						</div>
					</div>
					<!-- /.row -->	
					
					<div class="row small-spacing">
						<div class="col-lg-6 col-md-6 col-xs-12">
							<div class="box-content bordered primary">
								<h4 class="box-title"><i class="fa fa-file-invoice-dollar"t"></i> Administración contable</h4>
								<!-- /.box-title -->
								<p class="">El titular de este puesto es responsable de la aplicación contable, control de valores por pago a proveedores, fondo de caja chica y saldos contables, da seguimiento a la oportunidad y veracidad del registro de Gastos, verificar la veracidad de las cifras registradas. Mantener el control interno.</p>
								<table class="table no-margin">
									<tbody>
										<tr>
											<th>Departamento</th>
											<td><span class="notice notice-success">Oficinas</span></td>
										</tr>
										<tr>
											<th>Jefe inmediato</th>
											<td>Dirección comercial</td>
										</tr>
										<tr>
											<th>Relaciones internas</th>
											<td>Todas las aréas</td>
										</tr>
										<tr>
											<th>Relaciones externas</th>
											<td>Proveedores, socios comerciales</td>
										</tr>
									</tbody>
								</table>
								<div class="text-center margin-top-10">
									<a href="puesto_AdmonContable"><button class="btn btn-bordered btn-xs btn-info btn-rounded"><i class="fa fa-info-circle"></i> Ver más</button></a>
								</div>
							</div>
							<!-- /.box-content -->
						</div>

						<div class="col-lg-6 col-md-6 col-xs-12">
							<div class="box-content bordered primary">
								<h4 class="box-title"><i class="fa fa-box-open"></i> Preparador de pedidos (Picker)</h4>
								<!-- /.box-title -->
								<p class="">Asegurar la correcta preparación, surtido, embalaje y entrega de los pedidos conforme a las órdenes de compra recibidas, garantizando la calidad, presentación y tiempos de salida establecidos, para satisfacer las expectativas de los clientes y apoyar el cumplimiento de los compromisos comerciales.</p>
								<table class="table no-margin">
									<tbody>
										<tr>
											<th>Departamento</th>
											<td><span class="notice notice-success">Reabasto</span></td>
										</tr>
										<tr>
											<th>Jefe inmediato</th>
											<td>Encargado almacén</td>
										</tr>
										<tr>
											<th>Relaciones internas</th>
											<td>Reabasto</td>
										</tr>
										<tr>
											<th>Relaciones externas</th>
											<td>Sin relaciones</td>
										</tr>
									</tbody>
								</table>
								<div class="text-center margin-top-10">
									<a href="puesto_preparadorPedidos"><button class="btn btn-bordered btn-xs btn-info btn-rounded"><i class="fa fa-info-circle"></i> Ver más</button></a>
								</div>
							</div>
							<!-- /.box-content -->
						</div>
					</div>
					<!-- /.row -->	
					
					<div class="row small-spacing">
						<div class="col-lg-6 col-md-6 col-xs-12">
							<div class="box-content bordered primary">
								<h4 class="box-title"><i class="fa fa-bullhorn"></i> JR Especialista en Marketing Digital</h4>
								<!-- /.box-title -->
								<p class="">Asegurar la correcta preparación, surtido, embalaje y entrega de los pedidos conforme a las órdenes de compra recibidas, garantizando la calidad, presentación y tiempos de salida establecidos, para satisfacer las expectativas de los clientes y apoyar el cumplimiento de los compromisos comerciales.</p>
								<table class="table no-margin">
									<tbody>
										<tr>
											<th>Departamento</th>
											<td><span class="notice notice-success">Desarrollo e innovación de productos</span></td>
										</tr>
										<tr>
											<th>Jefe inmediato</th>
											<td>Dirección comercial</td>
										</tr>
										<tr>
											<th>Relaciones internas</th>
											<td>Todas las aréas de la empresa</td>
										</tr>
										<tr>
											<th>Relaciones externas</th>
											<td>Sin relaciones</td>
										</tr>
									</tbody>
								</table>
								<div class="text-center margin-top-10">
									<a href="puesto_jrMKT"><button class="btn btn-bordered btn-xs btn-info btn-rounded"><i class="fa fa-info-circle"></i> Ver más</button></a>
								</div>
							</div>
							<!-- /.box-content -->
						</div>

						<div class="col-lg-6 col-md-6 col-xs-12">
							<div class="box-content bordered primary">
								<h4 class="box-title"><i class="fa fa-handshake"></i> Agente de ventas</h4>
								<!-- /.box-title -->
								<p class="">Asistir en las actividades de almacén, recibiendo, revisando y organizando los materiales, productos, equipos y herramientas a fin de atender oportunamente las entregas a los socios comerciales.</p>
								<table class="table no-margin">
									<tbody>
										<tr>
											<th>Departamento</th>
											<td><span class="notice notice-success">Logistica comercial</span></td>
										</tr>
										<tr>
											<th>Jefe inmediato</th>
											<td>Dirección comercial</td>
										</tr>
										<tr>
											<th>Relaciones internas</th>
											<td>Todas las aréas de la empresa</td>
										</tr>
										<tr>
											<th>Relaciones externas</th>
											<td>Proveedores, socios comerciales</td>
										</tr>
									</tbody>
								</table>
								<div class="text-center margin-top-10">
									<a href="puesto_agenteVentas"><button class="btn btn-bordered btn-xs btn-info btn-rounded"><i class="fa fa-info-circle"></i> Ver más</button></a>
								</div>
							</div>
							<!-- /.box-content -->
						</div>
					</div>
					<!-- /.row -->	

				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
		<!-- /.row -->	
		
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->
{% endblock %}
