{% extends "Dashboard.html" %}

{% block title %}Proveedores{% endblock %}

{% block NavBar %}Proveeedores{% endblock %}

{% block content %}

<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<!-- PROVEEDORES -->
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Tabla de proveeedores</h4>
					<!-- /.box-title -->

					<button type="button" class="btn btn-success btn-xs waves-effect waves-light" data-toggle="modal" data-target="#boostrapModal-1" id="agregarProveedor"><i class="fa fa-plus"></i> Agregar</button>

					<div class="text-right margin-bottom-10">
						<button type="button" class="btn btn-info btn-xs waves-effect waves-light" id="info"><i class="fa fa-info"></i> Como moverse en la tabla</button>
					</div>

					<table id="proveedorTable" class="table table-small-font table-bordered table-hover display nowrap" style="width:100%"></table>
					
				</div>
				<!-- /.box-content -->
			</div>

			<!-- PAQUETERIAS -->
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Tabla de paqueterias</h4>
					<!-- /.box-title -->

					<button type="button" class="btn btn-success btn-xs waves-effect waves-light margin-bottom-10" data-toggle="modal" data-target="#boostrapModal-3" id="agregarPaqueteria"><i class="fa fa-plus"></i> Agregar</button>

					<table id="paqueteriaTable" class="table table-hover table-bordered display" style="width:100%">
						
					</table>
					
				</div>
				<!-- /.box-content -->
			</div>

			<!-- BANCOS -->
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Tabla de bancos</h4>
					<!-- /.box-title -->

					<button type="button" class="btn btn-success btn-xs waves-effect waves-light" data-toggle="modal" data-target="#boostrapModal-4" id="agregarBanco"><i class="fa fa-plus"></i> Agregar</button>

					<div class="col-xs-12">
						<h1></h1>
					</div>

					<table id="bancoTable" class="table table-hover table-bordered display" style="width:100%">
						
					</table>
					
				</div>
				<!-- /.box-content -->
			</div>

			<!-- CUENTAS DE BANCO -->
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Tabla de cuentas de banco</h4>
					<!-- /.box-title -->

					<button type="button" class="btn btn-success btn-xs waves-effect waves-light" data-toggle="modal" data-target="#boostrapModal-2" id="agregarCuentaBanco"><i class="fa fa-plus"></i> Agregar</button>

					<div class="col-xs-12">
						<h1></h1>
					</div>

					<table id="cuentaBancoTable" class="table table-hover table-bordered display" style="width:100%">
						
					</table>
					
				</div>
				<!-- /.box-content -->
			</div>
			
		</div>
		<!-- /.row -->		
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->


<!-- AQUI ESTAN LOS MODALES -->
<!-- Modal -->
<div class="modal fade" id="boostrapModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-1">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Titulo dinamico</h4>
			</div>
			<div class="modal-body">
				<div class="col-xs-6">
					<div class="form-group">
						<label>Nombre del artesano</label>
						<input type="text" class="form-control" id="nombreProveedor">
					</div>
					<div class="form-group">
						<label>Correo</label>
						<input type="email" class="form-control" id="correoProveedor">
					</div>
					<div class="form-group">
						<label>Dias de credito</label>
						<input type="number" class="form-control" id="diasCredito">
					</div>
					<div class="form-group">
						<label>Asignar factura / nota</label>
						<select class="form-control" id="fn_menu" >
							<option value="1">Factura</option>
							<option value="2">Nota</option>
							<option value="3">No definido</option>
						</select>
					</div>
					<div class="form-group">
						<label>Dias de entrega</label>
						<input type="number" class="form-control" id="diasEntrega">
					</div>
					<div class="form-group">
						<label>Asignar tipo de flete</label>
						<select class="form-control" id="flete_menu" >
							<option value="1">Pagado</option>
							<option value="2">PrePagada</option>
							<option value="3">No definido</option>
						</select>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label id="pkTelefonos">Asignar metodos de pago</label><br>
						<select class="select2_1" multiple="multiple" style="width: 100%;" id="metodoPago_menu"></select>
					</div>
					<div class="form-group">
						<label id="pkTelefonos">Asignar telefonos <i class="fa fa-pencil-square-o" aria-hidden="true"></i></label><br>
						<select class="select2_2" multiple="multiple" style="width: 100%;" id="telefono_menu"></select>
					</div>
					<div class="form-group">
						<label>Asignar paqueterias</label><br>
						<select class="select2_1" multiple="multiple" style="width: 100%;" id="paqueteria_menu" >
						</select>
					</div>
					<div class="form-group">
						<h4 id="ubicacion_menu">Ubicacion del proveedor</h4>
					</div>
					<div class="form-group">
						<label>Codigo postal <i class="fa fa-pencil-square-o" aria-hidden="true"></i></label><br>
						<select class="select2_2 form-control" multiple="multiple" style="width: 100%;" id="codigosPostales_menu">

						</select>
						
					</div>
					<div class="form-group">
						<label>Ciudad o pueblo <i class="fa fa-pencil-square-o" aria-hidden="true"></i></label><br>
						<select class="select2_2 form-control" multiple="multiple" style="width: 100%;" id="pueblosCiudades_menu">

						</select>
						
					</div>
					<div class="form-group">
						<label>Municipio <i class="fa fa-pencil-square-o" aria-hidden="true"></i></label><br>
						<select class="select2_2 form-control" multiple="multiple" style="width: 100%;" id="municipios_menu">

						</select>
						
					</div>
					<div class="form-group">
						<label>Estado <i class="fa fa-pencil-square-o" aria-hidden="true"></i></label><br>
						<select class="select2_2 form-control" multiple="multiple" style="width: 100%;" id="estados_menu">

						</select>
						
					</div>
				</div>
				
				<p>.</p>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-xs waves-effect waves-light" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary btn-xs waves-effect waves-light">Guardar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="boostrapModal-2" tabindex="-2" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel2">Agregar cuenta de banco</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Numero de cuenta</label>
					<input type="number" class="form-control" id="numeroCuenta">
				</div>
				<div class="form-group">
					<label>Nombre del beneficiario</label>
					<input type="text" class="form-control" id="nombreBeneficiario">
				</div>
				<div class="form-group">
					<label>Banco afiliado</label>
					<select class="form-control" id="banco_menu"></select>
				</div>
				<div class="form-group" id="proveedorContenedor">
					<label>Proveedor asignado</label>
					<select class="form-control" id="proveedor_menu"></select>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-xs waves-effect waves-light" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary btn-xs waves-effect waves-light">Guardar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="boostrapModal-3" tabindex="-3" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel3">Titulo dinamico</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Nombre del Paqueteria</label>
					<input type="text" class="form-control" id="nombrePaqueteria">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-xs waves-effect waves-light" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary btn-xs waves-effect waves-light">Guardar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="boostrapModal-4" tabindex="-4" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel4">Titulo dinamico</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Nombre del Banco</label>
					<input type="text" class="form-control" id="nombreBanco">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-xs waves-effect waves-light" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary btn-xs waves-effect waves-light">Guardar</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='assets/JS/proveedores.js') }}"></script>
<script src="{{ url_for('static', filename='assets/JS/metodos_pago.js') }}"></script>
<script src="{{ url_for('static', filename='assets/JS/cuentas_bancos.js') }}"></script>
<script src="{{ url_for('static', filename='assets/JS/codigos_postales.js') }}"></script>
<script src="{{ url_for('static', filename='assets/JS/pueblos_ciudades.js') }}"></script>
<script src="{{ url_for('static', filename='assets/JS/municipios.js') }}"></script>
<script src="{{ url_for('static', filename='assets/JS/estados.js') }}"></script>
<script src="{{ url_for('static', filename='assets/JS/paqueterias.js') }}"></script>
<script src="{{ url_for('static', filename='assets/JS/bancos.js') }}"></script>

{% endblock %}
