{% extends "Dashboard.html" %}

{% block title %}Usuarios{% endblock %}

{% block NavBar %}Usuarios{% endblock %}

{% block content %}


<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Tabla de usuarios</h4>
					<!-- /.box-title -->

					<button type="button" class="btn btn-success btn-xs waves-effect waves-light" data-toggle="modal" data-target="#boostrapModal-1" id="modalAgregar"><i class="fa fa-plus"></i> Agregar</button>

					<div class="col-xs-12">
						<h1></h1>
					</div>

					<table id="usuarioTable" class="table table-small-font table-hover table-bordered display nowrap" style="width:100%">
						
					</table>
					
				</div>
				<!-- /.box-content -->
			</div>
			
		</div>
		<!-- /.row -->		
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->


<!-- AQUI ESTAN LOS MODALES -->
<!-- Modal -->
<div class="modal fade" id="boostrapModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Titulo dinamico</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Nombre de usuario</label>
					<input type="text" class="form-control" id="nombreUsuario">
				</div>
				<div class="form-group">
					<label>Contraseña</label>
					<input type="text" class="form-control" id="contrasena"">
				</div>

				<div class="form-group">
					<label>Asignar empleado</label>
					<select class="form-control" id="empleado_menu" >
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-xs waves-effect waves-light" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary btn-xs waves-effect waves-light">Guardar</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='assets/JS/usuarios.js') }}"></script>
<script src="{{ url_for('static', filename='assets/JS/empleados.js') }}"></script>
{% endblock %}
